:root {
  --white: #fffffe;
  --darkblue: #094067;
  --gray: #5f6c7b;
  --skyblue: #3da9fc;
  --lightblue: #90b4ce;
  --red: #ef4565;
  --darkred: #b12841;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

/* loader */

.loader-body {
  display: none;
}

.loader-body-show {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  position: relative;
  z-index: 1;
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--skyblue);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* alert */

.alert-body {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.show {
  display: block;
}

.alert-container {
  background: var(--white);
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  margin: 130px auto auto auto;
}

.alert-header,
.alert-text {
  padding: 15px;
  border-bottom: 1px solid var(--gray);
}

.alert-header {
  font-size: 1.5rem;
}

.alert-text {
  font-size: 1.1rem;
}

.alert-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.alert-footer button {
  padding: 6px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

#cancel-delete {
  background-color: var(--lightblue);
  border-radius: 5px;
  color: var(--black);
  transition: 0.3s;
}

#cancel-delete:hover {
  color: var(--white);
  background: var(--gray);
}

.delete {
  background-color: var(--red);
  border-radius: 5px;
  transition: 0.3s;
}

.delete:hover {
  color: var(--white);
  background: var(--darkred);
}

/*sidebar navigation */

.sidebar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.hide-nav {
  left: -230px;
  transition: 0.5s;
}

.logo-header {
  display: flex;
  justify-content: center;
}

.logo-header img {
  width: 80%;
  height: 130px;
}

.user-info p::before {
  content: "A";
  margin-right: 5px;
  background: var(--darkblue);
  font-size: 1rem;
  border-radius: 50%;
  padding: 5px 10px;
  color: var(--white);
}

nav ul a,
.dropdown-text {
  color: var(--gray);
  padding: 10px;
  cursor: pointer;
}

.active {
  background: var(--darkblue);
  color: var(--white);
}

nav ul a:hover,
.dropdown-text:hover {
  color: white;
}

nav ul a:not(.active):hover,
.dropdown-text:not(.active):hover {
  background: var(--gray);
}

.dropdown-text {
  display: flex;
  justify-content: space-between;
}

.dropdown-text .arrow {
  margin-left: 50px;
}

.arrow {
  width: 10%;
}

.dropdown {
  display: none;
  margin-left: 5px;
}

.dropdown li {
  display: flex;
}

.dropdown li img {
  margin-left: 10px;
}

.dropdown li img {
  transform: rotate(-90deg);
  object-fit: contain;
}

.show {
  display: block;
}

.dropdown > ul:nth-child(1) :hover,
.dropdown > ul:nth-child(2) :hover {
  background: var(--gray);
  /* color: var(--white); */
}

/* body */

.body {
  width: 100%;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.5s;
}

.grow {
  margin-left: 0px;
  transition: 0.5s;
}

.header {
  background: var(--gray);
  padding: 10px;
}

.menu-icon {
  display: flex;
  align-content: center;
}

.menu-icon img {
  max-width: 100%;
  width: 30px;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.text h1 {
  color: var(--darkblue);
}

.card-container {
  display: flex;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
}

.dashboard {
  overflow: hidden;
}

.cards {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
}

.info-card {
  flex-basis: 200px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  border: 2px solid var(--black);
  border-radius: 5px;
  padding: 10px;
}

.info-card img {
  max-width: 100%;
  height: 80px;
  background: var(--skyblue);
  border-radius: 2px;
  padding: 5px;
}

.info-card p {
  font-weight: bold;
  color: var(--gray);
  font-size: 1.5rem;
}

.graph-body {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}

.graph {
  width: 50%;
  border: 2px solid var(--black);
  border-radius: 3px;
}

.table-container {
  width: 100%;
  border: 1px solid var(--gray);
  border-top: 3px solid var(--lightblue);
  border-radius: 3px;
}

.table-header {
  border-bottom: 1px solid var(--gray);
  padding: 6px;
  display: flex;
  justify-content: flex-end;
}

.table-header a {
  border: 1.5px solid var(--skyblue);
  padding: 5px;
  color: var(--black);
  background: var(--lightblue);
  transition: 0.3s;
}

.table-header a:hover {
  background: var(--skyblue);
  border: 1.5px solid var(--darkblue);
  color: var(--white);
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  gap: 2px;
}

.search-bar label {
  align-self: center;
}

.search-bar input {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid var(--gray);
  outline: none;
}

#table,
.row,
.table-head,
.data {
  border: 1px solid var(--gray);
}

#table {
  border-collapse: collapse;
  width: 99%;
  margin: auto;
}

.table-head {
  color: var(--darkblue);
}

.table-head,
.data {
  padding: 10px;
}

.data {
  text-align: center;
  color: var(--gray);
}

.row .data:nth-child(6) {
  max-width: 150px;
  min-width: 100px;
}

.data-img {
  max-width: 100px;
  min-width: 100px;
}

.description {
  text-align: justify;
}

#profile-pic {
  max-width: 100%;
}

.action {
  display: flex;
  border: none;
  justify-content: center;
}

.action-img {
  border: none;
  height: 100%;
}

.action button,
.action-img button {
  border: none;
  padding: 5px;
  cursor: pointer;
}

.btn-delete {
  background: var(--red);
}

.btn-delete:hover {
  background: var(--darkred);
}

.btn-edit {
  background: var(--skyblue);
}

.btn-edit:hover {
  background: var(--darkblue);
}

.edit-sub,
.delete-sub {
  width: 20px;
}

/* pagination */

.pagination {
  padding: 10px 7px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  font-weight: 600;
}

.pagination-body {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-body a {
  color: var(--gray);
}

#previous a,
#next a,
.active-page a,
.next-page a {
  padding: 5px 10px;
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.active-page a {
  color: var(--black);
  background: var(--lightblue);
  transition: 0.3s;
}

.active-page a:hover {
  background: var(--skyblue);
  color: var(--white);
}

.next-page a,
#next a,
#previous a {
  transition: 0.3s;
}

.next-page a:hover,
#next a:hover,
#previous a:hover {
  background: var(--lightblue);
  color: var(--black);
}

/* add subject */

.form-body {
  width: 100%;
  border: 1px solid var(--gray);
  border-top: 3px solid var(--lightblue);
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--black);
}

.input-container {
  margin: 15px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.student-form {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.teacher-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#email-body {
  grid-column: 1 / span 2;
}

#sub-form {
  display: flex;
  flex-direction: column;
}

.input-body {
  font-size: 1.2rem;
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-weight: bold;
}

.input-body input,
.input-body textarea,
.input-body select,
.input input,
.input select {
  padding: 8px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
  resize: none;
}

.input-body input:focus,
.input-body textarea:focus,
.input-body select:focus {
  border-radius: 5px;
  outline: 1px solid var(--darkblue);
}

.addbtn-body,
.editbtn-body {
  border-top: 2px solid var(--darkblue);
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  background-color: #f2f2f2;
  gap: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.addbtn-body button,
.addbtn-body input,
.editbtn-body button,
.editbtn-body input,
.editbtn-body a {
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.addbtn-body button,
.editbtn-body button,
.editbtn-body a {
  color: var(--black);
  background: var(--skyblue);
  transition: 0.3s;
}

.addbtn-body button:hover,
.editbtn-body button:hover,
.editbtn-body a:hover {
  background: var(--darkblue);
  color: var(--white);
}

.addbtn-body input,
.editbtn-body input {
  background: var(--gray);
  transition: 0.3s;
}

.addbtn-body input:hover,
.editbtn-body input:hover {
  background: var(--darkblue);
  color: var(--white);
}

/* section */
.sec {
  color: var(--gray);
  font-weight: bold;
}

.sec:hover {
  color: var(--black);
}

.view {
  background: var(--skyblue);
  padding: 5px 20px;
  display: flex;
}

.view img {
  width: 20px;
}

.view:hover {
  background: var(--darkblue);
}

/*edit grade */
.student-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
}

.student-info + hr {
  width: 99%;
  margin-bottom: 10px;
  color: #b12841;
}

#add-grade,
.input {
  display: flex;
  justify-content: center;
}

#add-grade {
  gap: 20px;
  align-items: center;
}

.input {
  flex-direction: column;
}

.button-grade {
  align-self: flex-end;
  display: flex;
  gap: 5px;
}

#cancel {
  background: var(--red);
  border-radius: 3px;
  padding: 5px 10px;
  color: var(--black);
}

#cancel:hover {
  background: var(--darkred);
  color: var(--white);
}

#grade-add {
  background: var(--skyblue);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

#grade-add:hover {
  background: var(--darkblue);
  color: var(--white);
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    left: -230px;
    z-index: 1;
  }

  .body {
    margin-left: 0;
  }

  .show-nav {
    left: 0;
    transition: 0.5s;
  }

  .menu-icon {
    justify-content: flex-end;
  }

  .student-form {
    grid-template-columns: 1fr;
  }

  .teacher-form {
    grid-template-columns: 1fr;
  }

  #email-body {
    grid-column: 1;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .sidebar {
    left: -230px;
    z-index: 0;
  }
  .body {
    margin-left: 0;
  }

  .show-nav {
    left: 0;
    transition: 0.5s;
  }
  .menu-icon {
    justify-content: flex-end;
  }

  .student-form {
    grid-template-columns: 1fr;
  }
  .teacher-form {
    grid-template-columns: 1fr;
  }
  #email-body {
    grid-column: 1;
  }
}

/* Extra small devices (phones, 575px and down) */
@media (max-width: 575px) {
  .sidebar {
    left: -230px;
    z-index: 1;
  }
  .body {
    margin-left: 0;
  }
  .show-nav {
    left: 0;
    transition: 0.5s;
  }
  .menu-icon {
    justify-content: flex-end;
  }

  .student-form {
    grid-template-columns: 1fr;
  }

  .teacher-form {
    grid-template-columns: 1fr;
  }

  #email-body {
    grid-column: 1;
  }
}
